@model Produto
@*Tecnologia da página - Razor*@
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Alterar Produto</title>
</head>
<body>
    <form asp-action="Alterar" asp-controller="Produto" method="post">
        <fieldset>
            <legend>Alterar Produto</legend>

            <label asp-for="Id">Id:</label>
            <input asp-for="Id" readonly type="text" placeholder="Id do Produto" /><br />
            <input asp-for="Id" name="HdnId" type="hidden" />

            <label asp-for="Nome">Nome:</label>
            <input asp-for="Nome" type="text" placeholder="Nome do Produto" /><br />

            <label asp-for="Descricao">Descrição:</label>
            <input asp-for="Descricao" type="text" placeholder="Descrição do Produto" /><br />

            <label asp-for="Preco">Preço:</label>
            <input asp-for="Preco" type="text" placeholder="Preço do Produto" /><br />

            <label asp-for="Quantidade">Quantidade:</label>
            <input asp-for="Quantidade" type="text" placeholder="Quantidade do Produto" /><br />

            <input type="submit" value="Salvar" />
        </fieldset>
    </form>
</body>
</html>
