@*Tecnologia da página - Razor*@
@model Produto

<form asp-action="Cadastrar" asp-controller="Produto" method="post"
      enctype="multipart/form-data">
    <fieldset>
        <legend>Cadastrar Produto</legend>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Nome">Nome:</label>
            <input class="form-control" asp-for="Nome" type="text" placeholder="Nome do Produto" />
            <span class="text-danger" asp-validation-for="Nome"></span>
        </div>

        <div class="form-group">
            <label asp-for="Descricao">Descrição:</label>
            <input class="form-control" asp-for="Descricao" type="text" placeholder="Descrição do Produto" />
            <span class="text-danger" asp-validation-for="Descricao"></span>
        </div>

        <div class="form-group">
            <label asp-for="Preco">Preço:</label>
            <input class="form-control" asp-for="Preco" type="text" placeholder="Preço do Produto" />
            <span class="text-danger" asp-validation-for="Preco"></span>
        </div>

        <div class="form-group">
            <label asp-for="Quantidade">Quantidade:</label>
            <input class="form-control" asp-for="Quantidade" type="text" placeholder="Quantidade do Produto" />
            <span class="text-danger" asp-validation-for="Quantidade"></span>
        </div>

        <div class="form-group">
            <label asp-for="Imagem">Imagem:</label>
            <input class="form-control-file" type="file" name="file" />
        </div>

        <div class="form-group">
            <label asp-for="CategoriaId">Categoria:</label>
            <select class="form-control" asp-items="@ViewBag.Categorias"
                    asp-for="CategoriaId">
                <option> -- SELECIONE -- </option>
            </select>
        </div>
        <input class="btn btn-info" type="submit" value="Cadastrar" />
    </fieldset>
</form>
