<!DOCTYPE html>

<html>
<head>
    <title>Gerenciamento de Produtos</title>
</head>
<body>
    <h2>Gerencimento de Produtos</h2>

    <a asp-action="Cadastrar" asp-controller="Produto">Cadastrar Produto</a>

</body>
</html>
